{% extends 'layout.html' %}

{% block body %}
  <h1>Fradulator: Jon Cortney, Micah Shanks, Dale Taylor, & Megan Bultema</h1>
  <p>The Fradulator is a stacked model used to predict the probability of an event registered with Eventbrite is fraud.
  <image src = '../workflow.png' alt="workflow" style="width:304px;height:228px;" >
  <p>Our stacked was able to determine what event features are most important in predicting fraud.
  <image src = '../features_barh.png' alt="features bar" style="width:304px;height:228px;">
{% endblock %}
