{% extends 'layout.html' %}
<javascript>
    $(document).ready(function() {
  $('#example').DataTable();
});
</javscript>


{% block body %}
  <div class = "jumbotron text-center">
    <h1>Let's review some events for potential Fraud!</h1>
    <p class="lead">Let's find out who might be trying to scam the system today
  </div>
  <span style="color: blue; font-weight: bold;">Event Review</span>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/><link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/><div class="container"> <h1>History of fraud detection</h1>
{{data | safe}}
  </div><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>


{% endblock %}
